<!DOCTYPE html>
<html ng-app>
  <head>
  	<!--edit the title for your own name-->
    <title>Paisley News</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  	<!--edit the h1 tage for your own name-->
    <h1>My First News</h1>
    <p>Click on a link to visit a page.</p>
   
	 <!--end of section to copy-->
    <p>This is my first web site im new to this so please bear with me. I will try to make this as accessable and interesting as possible. 
    Thank You! </p>
    <img src="https://thepaperwolf.files.wordpress.com/2015/05/summer-vacation.jpg">
    <p>All the kids are on summer vaca from May 24th til August 12th.</p>
    <p>A Boy Scout from Troop 250 is building a gaga-ball pit at SCCS. Pictures will be comeing soon!</p>
    <!--paste the links from indexwithlinks.ejs here-->
    
    <p>The user count in my nodejs application is: <%= userCount %></p>   <!--copy this line for userbytwo-->
     <p>The user count in my nodejs application is: <%= userbytwo %></p>   <!--copy this line for userbytwo-->
  </body>
</html>

