<!DOCTYPE html>
<html ng-app>
  <head>
  	<!--edit the title for your own name-->
    <title>Paisley News</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body background="https://png.pngtree.com/thumb_back/fw800/back_pic/03/76/13/9457be6a6ac3e53.jpg">
  background="https://png.pngtree.com/thumb_back/fw800/back_pic/03/76/13/9457be6a6ac3e53.jpg">
  	<!--edit the h1 tage for your own name-->
     <!--end of section to copy-->
    <h1><font color="red">Click the link below if you would like to visit Fox News</h1>
    <a href="https://www.google.com/search?q=fox+news&oq=fox+news&aqs=chrome..69i57j46j0l4.3927j0j7&sourceid=chrome&ie=UTF-8">Fox News</a>
    <h1>Whats new for summer?!</h1>
    <img src="https://thepaperwolf.files.wordpress.com/2015/05/summer-vacation.jpg">
    <p>All the kids are on summer vaca from May 24th til August 12th.</p>
    <h1>The news on Spring Creek!</h1>
    <p>A Boy Scout from Troop 250 is building a gaga-ball pit at SCCS for his Eagle Scout Project. Pictures are coming soon!</p>
    <h1>The news on the Paisley Library!</h1>
    
    <p>The library has fun activities, games, stories, and more for free from June 3rd to July 18th. Only for ages 5-13. Children older
    than 13 may volunteer and help out.</p>
    <h1>Every day is a day to be happy!</h1>
    <p>With that being said here is an inspirational quote to brighten your day</font></p>
    <img src="https://i.pinimg.com/originals/e6/c7/1b/e6c71b8e3c780a06f86458cdc089b697.jpg" alt="Luke 1:37" width=500 height=600>
   
    <!--paste the links from indexwithlinks.ejs here-->
    
    <p>The user count in my nodejs application is: <%= userCount %></p>   <!--copy this line for userbytwo-->
     <p>The user count in my nodejs application is: <%= userbytwo %></p>   <!--copy this line for userbytwo-->
  </body>
</html>

