<!DOCTYPE html>
<html ng-app>
  <head>
  	<!--edit the title for your own name-->
    <title>Cookie time</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  	<!--edit the h1 tage for your own name-->
    <h1>How Much Are Cookies?</h1>
    <p>Cookies are normally $4 but gluten free are$5</p>
    <!--paste the links from indexwithlinks.ejs here-->
    
    <p>The user count in my nodejs application is: <%= userCount %></p>   <!--copy this line for userbytwo-->
  </body>
</html>

